# --- Python 관련 임시 파일 ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# --- 가상 환경 (Virtual Environments) ---
.venv/
venv/
ENV/

# --- 운영체제(OS) 관련 시스템 파일 ---
.DS_Store
Thumbs.db
desktop.ini

# --- IDE(에디터) 설정 파일 ---
.vscode/
.idea/
*.swp